.genres {
    //padding: 20px;
    width: 100%;
    // margin-bottom: 20px;

    .error-text {
        color: #f44336;
        font-size: 1em;
        // text-transform: uppercase;
        padding-top: 5px;
    }
}
