.home {
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 120px;
    position: relative;
    background: linear-gradient(to right, #3494e6, #ec6ead);

    .home-container {
        width: 90%;
        margin: 0 auto;
    }
}
