.messages-list-outer-container {
    pointer-events: none;
    bottom: 0;
    position: fixed;
    z-index: 11;
    width: 100%;
}

.messages-list {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    .status-message {
        max-width: 100%;
        font-size: 1.2rem;
    }
}

.mui-alert-wrapper {
    pointer-events: visible;
    margin: 8px 0;
    color: #fff;
    padding: 6px 24px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 960px) {
    .mui-alert-wrapper {
        width: 500px;
    }
}

@media (min-width: 1200px) {
    .messages-list-outer-container .container {
        margin-right: 20px;
    }
}

.mui-alert {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mui-alert-content {
    padding: 8px 0;
}

.mui-alert-content-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.mui-alert-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 24px;
    margin-right: -8px;
}

.mui-danger-alert {
    background-color: #d32f2f;
}

.mui-success-alert {
    background-color: #43a047;
}

.mui-alert-close {
    cursor: pointer;
}

.indicator-icon {
    margin: 0 5px;
}
