
.playlist-placeholder {
    height: 100%;
    text-align: center;
    user-select: none;
    .playlist-caption {
        font-size: 1.3rem;
        color: #444;
        
        & > p {
            padding-bottom: 15px;
        }
    }
}

.loader-container {
    min-height: 300px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}