.home {
    min-height: 100vh;
    // background: linear-gradient(to left, #E5E5BE, #003973);
    position: relative;
    padding-bottom: 80px;

    .submit-button {
        position: fixed;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        z-index: 10000;
        font-size: 1.2rem;
      }

    .header {
        min-height: 550px;
        padding: 0 40px;
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        background-image: url('../../images/cool-background.png');
        //linear-gradient(to right, rgba(192, 108, 132, 0.3), rgba(108, 91, 123, 0.3), rgba(53, 92, 125, 0.3)), url('../../images/kristopher-roller-zepnJQycr4U-unsplash.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        .caption {
            width: auto;
            text-align: center;
            text-transform: uppercase;
            font-weight: lighter;
            // color: #fff;
            // text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
            margin: auto;
    
            h4 {
                font-size: 3rem;
                margin: 1rem;
                letter-spacing: 2px;
                word-spacing: 5px;
                // background-color: #444;
            }
    
            p {
                font-size: 1.5rem;
                letter-spacing: 2px;
                word-spacing: 5px;
                // background-color: #444;
            }
        }
    }

    .search-area {
        width: 60%;
        margin: -120px auto 0 auto;
    }
}
