.playlist-container {
    // height: 100%;
    // padding: 10px 0;
    // margin-bottom: 20px;
}

.playlist-placeholder {
    height: 100%;
    text-align: center;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    .playlist-caption {
        font-size: 1.3rem;
        color: #888;

        & > p {
            padding-bottom: 15px;
        }
    }
}

.loader-container {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
